---
import Page from "@layouts/page";
---

<Page title="projects">

	<h1>Projects</h1>

	  <div class="carousel w-full">
		<div id="item1" class="carousel-item w-full">
			<div class="hero min-h-screen" style="background-image: url(/project1.jpg);">
				<div class="hero-overlay bg-opacity-60"></div>
				<div class="hero-content text-center text-neutral-content">
				  <div class="max-w-md">
					<h1 class="mb-5 text-5xl font-bold text-primary">Iron Chatbot</h1>
					<p class="mb-5">Introducing our web app: Chat with a chatbot that looks like IronMan, built using Blender 3D and OpenAI.</p>
					<button class="btn btn-primary">Get Started</button>
				  </div>
				</div>
			  </div>
		</div> 
		<div id="item2" class="carousel-item w-full">
		    <div class="hero min-h-screen bg-base-200">
				<div class="hero-content flex-col lg:flex-row">
				  <img src="project2.jpg" class="max-w-sm rounded-lg shadow-2xl" />
				  <div>
					<h1 class="text-5xl font-bold">File Box !</h1>
					<p class="py-6">Introducing our latest project, a versatile web application that allows you to convert files from image to PDF, PDF to Word, and more. With features similar to Google Drive, it also offers secure storage using Amazon S3.</p>
					<button class="btn btn-primary">Get Started</button>
				  </div>
				</div>
			  </div>
		</div> 
		<div id="item3" class="carousel-item w-full">
		    <div class="hero min-h-screen" style="background-image: url(/project3.jpg);">
				<div class="hero-overlay bg-opacity-60"></div>
				<div class="hero-content text-center text-neutral-content">
				  <div class="max-w-md">
					<h1 class="mb-5 text-5xl font-bold text-primary">BIX Tokens</h1>
					<p class="mb-5">Welcome to our landing page where you can buy our BEP-20 smart contract tokens, powered by Next.js and deployed on Binance Blockchain.</p>
					<button class="btn btn-primary">Get Started</button>
				  </div>
				</div>
			  </div>
		</div> 
		<div id="item4" class="carousel-item w-full">
			<div class="hero min-h-screen bg-base-200">
				<div class="hero-content flex-col lg:flex-row-reverse">
				  <img src="/project4.jpg" class="max-w-sm rounded-lg shadow-2xl" />
				  <div>
					<h1 class="text-5xl font-bold">Face Detection!</h1>
					<p class="py-6">Introducing our web application that uses advanced face detection technology and Postgre SQL database for secure log-in and password storage.</p>
					<button class="btn btn-primary">Get Started</button>
				  </div>
				</div>
			  </div>
		</div>
	  </div> 
	  <div class="flex justify-center w-full py-2 gap-2">
		<a href="#item1" class="btn btn-xs">1</a> 
		<a href="#item2" class="btn btn-xs">2</a> 
		<a href="#item3" class="btn btn-xs">3</a> 
		<a href="#item4" class="btn btn-xs">4</a>
	  </div>


</Page>
