<label
  class="btn btn-square btn-ghost swap swap-rotate"
  data-toggle-theme="mytheme,mytheme2"
  data-act-class="swap-active"
>
  <div class="swap-on">😇</div>
  <div class="swap-off">😈</div>
</label>
